<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Yummy Recipe App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  
  <body>

        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                        <div class="navbar-header">
                          <a class="navbar-brand" href="#">Yummy Recipe App</a>
                        </div>
                        <ul class="nav navbar-nav">
                          <li><a href="home.html">Home</a></li>
                          <li><a href="dashboard.html">Recipes</a></li>
                        </ul>
                </div>
            </nav>

        <div class="container">

            <p>Recipes</p> 
            
            <form>
            <div class="form-group">
            <label for="pwd">Name:</label>
            <input type="password" class="form-control" id="email">
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Category
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                <li><a href="#">...............</a></li>
                <li><a href="#">...............</a></li>
                <li><a href="#"><div class=""></div></a></li>
                </ul>
            </div>
            <div class="form-group">
            <label for="pwd">Description:</label>
            <input type="password" class="form-control" id="pwd">
            </div>
        
            <button type="submit" class="btn btn-default">Add Recipe</button>
            </form>
            
        </div>
    </div>
  </body>
</html>