<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Yummy Recipe App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href= {{ url_for('static', filename='css/style.css') }}">
  </head>

  <body background = {{ url_for('static', filename='img/food1.jpg') }}>

      <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Yummy Recipe App</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('main')}}">Home</a></li>
              <li><a href="{{ url_for('signup')}} ">Signup</a></li>
              <li><a href="{{ url_for('login')}} ">Login</a></li>
              
            </ul>
          </div>
      </nav>

      <div class="container">

           <h3> Do you love cooking and eating amazing food and cannot keep track of your favorite chef's recipe</h3> 
            <h3> We have got you </h3>
            <h3> View our amazing recipes by simply signing up</h3>

            <button class="btn btn-default" align = "centre" style="height:50px; width:150px" > <a href="{{ url_for('signup')}}">Sign Up </a></button>

      </div>
    
    </div>
  </body>
</html>